{% extends 'french/base.html' %}

{% load static %}

{% block style %}

    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/video.css' %}">
    <style>
        .dj-product-price {
            cursor: pointer;
        }
        .image-prod-sm>img{
            width: 100%;
            padding: 0 20%;
        }
        .detail-funbox, .detail-funbox>.container-fluid, .detail-funbox>.container-fluid>.row-detail{
            height: 100%;
        }
    </style>

{% endblock %}

{% block banners %}

    {% for banner in banners %}

        <li logo_color="white" class="banner {{ forloop.first|yesno:'active, ' }} banner-0{{ forloop.counter }}">
            <div class="banner-landscape"
                style="background-image: url('{{ banner.image_landscape.url }}');">
            </div>
            <div class="banner-portrait"
                style="background-image: url('{{ banner.image_portrait.url }}');">
            </div>
            <div class="banner-inner">
                {% if banner.link_text != "" and banner.link_text != None and banner.link_url != "" %}
                    <a et="Banner-ExtLink" href="{{ banner.link_url }}" class="btn btn-default red btn_middle" target="_blank">{{ banner.link_text }}</a>
                {% endif %}
            </div>
        </li>

    {% endfor %}

{% endblock %}

{% block popups %}

    <section class="product-detail" id="product-detail" name="product"></section>

    <!-- **********  Start burgers Popups  ************** -->
    {% for burger in burgers %}

        <section class="product-detail detail-funbox" name="burger{{ burger.id }}">
            <div class="container-fluid">
                <div class="row row-detail">
                    <div class="col-md-6 hidden-sm no-padding colleft" style="background: url({{ burger.image_details.url }}) center center / cover no-repeat rgb(0, 0, 0); left: 0%; background-size: contain;">
                        <img src="{% static 'img/logo_white.png' %}" class="colleft-logo" alt="">
                        <div class="row visible-xs">
                            <div class="col-md-12 no-padding return">
                                <a class="text-uppercase close_product_detail">
                                    <img class="locations_close btn-close js-menuleft-close" src="{% static 'img/btn-close-signup.svg' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 colright colright123213" style="height: auto; right: 0%;">

                        <div class="hidden-md hidden-lg" style="height: 200px"></div>

                        <div class="colright-content-fix">
                            <div class="row product-detail-title">
                                <div class="inner">
                                    <p class="text-center text-uppercase category"><span>Burgers</span></p>
                                    <p class="text-center title">{{ burger.name }}</p>
                                </div>
                            </div>

                            <div class="row tab-menu">
                                <ul class="col-md-12 colright-1 nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#productBurger{{ burger.id}}" aria-controls="product" role="tab" data-toggle="tab" aria-expanded="true">
                                            Produit
                                        </a>
                                    </li>
                                    {% if burger.allergens.all.count != 0 %}
                                        <li role="presentation" class="">
                                            <a href="#informationBurger{{ burger.id }}" aria-controls="information" role="tab" data-toggle="tab" aria-expanded="false">
                                                Allergies
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="row tab-content tab-pane-product">

                            <!--TAB 01-->
                            <div role="tabpanel" class="tab-pane fade tab tab-1 active pane-product-detail ctn-right-product-detail in" id="productBurger{{ burger.id }}">
                                <div class="tabpanel-inner">

                                    <div class="col-md-12 colright-center colright-productdetailcontent-group">
                                        <div class="inner">

                                            <div class="text-center colright-center_description un_scrolling ">
                                                <p>{{ burger.description }}</p>
                                                {% if burger.price != null %}
                                                    <p class="product-price">{{ burger.price }}0 €</p>
                                                {% endif %}
                                                <p class="product-command">
                                                    <a href="https://www.takeaway.com/be/queen-burger" target="_blank">Commander</a>
                                                </p>
                                            </div>
                                        </div>
                                        {% if burger.allergens.all.count != 0 %}
                                            <div class="col-md-12 visible-xs select-arrow" onclick="clsProductsDetails.viewmore();">
                                                <p class="select-detail">Allergies</p>
                                            </div>
                                            <div class="col-md-12 colright-center mobile-ver">
                                                <p class="pri-title text-uppercase text-center">Informations sur les allergènes</p>
                                                <ul class="list-unstyled">
                                                    {% for allergen in burger.allergens.all %}
                                                        <li>{{ allergen.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>

                            {% if burger.allergens.all.count != 0 %}
                                <!--TAB 02-->
                                <div role="tabpanel" class="tab-pane fade tab hidden-xs tab-2" id="informationBurger{{ burger.id }}">
                                    <div class="tabpanel-inner">
                                        <div class="col-md-12 colright-center">
                                            <div class="inner">
                                                <p class="pri-title text-uppercase text-center">Informations sur les allergènes</p>
                                                <ul class="list-allergens">
                                                    {% for allergen in burger.allergens.all %}
                                                        <li>{{ allergen.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        <div class="hidden-md hidden-lg image-prod-sm">
                            <img src="{{ burger.image_details.url }}" alt="">
                        </div>
                    </div>
                </div>
                <a class="hidden-xs productDetail_close" slug="burger{{ burger.id }}">
                    <img src="{% static 'img/details/btn-close.png' %}" class="close-detail" alt="">
                </a>
            </div>
        </section>

    {% endfor %}
     <!-- **********  End burgers Popups  ************** -->

    <!-- **********  Start Finger Food Popups  ************** -->
    {% for finger in fingers %}

        <section class="product-detail detail-funbox" name="finger{{ finger.id }}">
            <div class="container-fluid">
                <div class="row row-detail">
                    <div class="col-md-6 hidden-sm no-padding colleft" style="background: url({{ finger.image_details.url }}) center center / cover no-repeat rgb(0, 0, 0); left: 0%;">
                        <img src="{% static 'img/logo_white.png' %}" class="colleft-logo" alt="">
                        <div class="row visible-xs">
                            <div class="col-md-12 no-padding return">
                                <a class="text-uppercase close_product_detail">
                                    <img class="locations_close btn-close js-menuleft-close" src="{% static 'img/btn-close-signup.svg' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 colright colright123213" style="height: auto; right: 0%;">
                        <div class="hidden-md hidden-lg" style="height: 200px"></div>
                        <div class="colright-content-fix">
                            <div class="row product-detail-title">
                                <div class="inner">
                                    <p class="text-center text-uppercase category"><span>FINGERFOOD</span></p>
                                    <p class="text-center title">{{ finger.name }}</p>
                                </div>
                            </div>

                            <div class="row tab-menu">
                                <ul class="col-md-12 colright-1 nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#productBurger{{ finger.id}}" aria-controls="product" role="tab" data-toggle="tab" aria-expanded="true">
                                            Produit
                                        </a>
                                    </li>
                                    {% if finger.allergens.all.count != 0 %}
                                        <li role="presentation" class="">
                                            <a href="#informationBurger{{ finger.id }}" aria-controls="information" role="tab" data-toggle="tab" aria-expanded="false">
                                                Allergies
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="row tab-content tab-pane-product">

                            <!--TAB 01-->
                            <div role="tabpanel" class="tab-pane fade tab tab-1 active pane-product-detail ctn-right-product-detail in" id="productBurger{{ finger.id }}">
                                <div class="tabpanel-inner">

                                    <div class="col-md-12 colright-center colright-productdetailcontent-group">
                                        <div class="inner">

                                            <div class="text-center colright-center_description un_scrolling ">
                                                <p>{{ finger.description }}</p>
                                                {% if finger.price != null %}
                                                    <p class="product-price">{{ finger.price }}0 €</p>
                                                {% endif %}
                                                <p class="product-command">
                                                    <a href="https://www.takeaway.com/be/queen-burger" target="_blank">Commander</a>
                                                </p>
                                            </div>
                                        </div>
                                        {% if finger.allergens.all.count != 0 %}
                                            <div class="col-md-12 visible-xs select-arrow" onclick="clsProductsDetails.viewmore();">
                                                <p class="select-detail">Allergies</p>
                                            </div>
                                            <div class="col-md-12 colright-center mobile-ver">
                                                <p class="pri-title text-uppercase text-center">Informations sur les allergènes</p>
                                                <ul class="list-unstyled">
                                                    {% for allergen in finger.allergens.all %}
                                                        <li>{{ allergen.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>

                            {% if finger.allergens.all.count != 0 %}
                                <!--TAB 02-->
                                <div role="tabpanel" class="tab-pane fade tab hidden-xs tab-2" id="informationBurger{{ finger.id }}">
                                    <div class="tabpanel-inner">
                                        <div class="col-md-12 colright-center">
                                            <div class="inner">
                                                <p class="pri-title text-uppercase text-center">Informations sur les allergènes</p>
                                                <ul class="list-allergens">
                                                    {% for allergen in finger.allergens.all %}
                                                        <li>{{ allergen.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>

                        <div class="hidden-md hidden-lg image-prod-sm">
                            <img src="{{ finger.image_details.url }}" alt="">
                        </div>

                    </div>
                </div>
                <a class="hidden-xs productDetail_close" slug="finger{{ finger.id }}">
                    <img src="{% static 'img/details/btn-close.png' %}" class="close-detail" alt="">
                </a>
            </div>
        </section>

    {% endfor %}
     <!-- **********  End Finger Food Popups  ************** -->

    <!-- **********  Start Salades Popups  ************** -->
    {% for salade in salades %}

        <section class="product-detail detail-funbox" name="salade{{ salade.id }}">
            <div class="container-fluid">
                <div class="row row-detail">
                    <div class="col-md-6 hidden-sm no-padding colleft" style="background: url({{ salade.image_details.url }}) center center / cover no-repeat rgb(0, 0, 0); left: 0%;">
                        <img src="{% static 'img/logo_white.png' %}" class="colleft-logo" alt="">
                        <div class="row visible-xs">
                            <div class="col-md-12 no-padding return">
                                <a class="text-uppercase close_product_detail">
                                    <img class="locations_close btn-close js-menuleft-close" src="{% static 'img/btn-close-signup.svg' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 colright colright123213" style="height: auto; right: 0%;">
                        <div class="hidden-md hidden-lg" style="height: 200px"></div>
                        <div class="colright-content-fix">
                            <div class="row product-detail-title">
                                <div class="inner">
                                    <p class="text-center text-uppercase category"><span>SALADES</span></p>
                                    <p class="text-center title">{{ salade.name }}</p>
                                </div>
                            </div>

                            <div class="row tab-menu">
                                <ul class="col-md-12 colright-1 nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#productSalade{{ salade.id}}" aria-controls="product" role="tab" data-toggle="tab" aria-expanded="true">
                                            Produit
                                        </a>
                                    </li>
                                    {% if salade.allergens.all.count != 0 %}
                                        <li role="presentation" class="">
                                            <a href="#informationSalade{{ salade.id }}" aria-controls="information" role="tab" data-toggle="tab" aria-expanded="false">
                                                Allergies
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="row tab-content tab-pane-product">

                            <!--TAB 01-->
                            <div role="tabpanel" class="tab-pane fade tab tab-1 active pane-product-detail ctn-right-product-detail in" id="productSalade{{ salade.id }}">
                                <div class="tabpanel-inner">

                                    <div class="col-md-12 colright-center colright-productdetailcontent-group">
                                        <div class="inner">

                                            <div class="text-center colright-center_description un_scrolling ">
                                                <p>{{ salade.description }}</p>
                                                {% if salade.price != null %}
                                                    <p class="product-price">{{ salade.price }}0 €</p>
                                                {% endif %}
                                                <p class="product-command">
                                                    <a href="https://www.takeaway.com/be/queen-burger" target="_blank">Commander</a>
                                                </p>
                                            </div>
                                        </div>
                                        {% if salade.allergens.all.count != 0 %}
                                            <div class="col-md-12 visible-xs select-arrow" onclick="clsProductsDetails.viewmore();">
                                                <p class="select-detail">Allergies</p>
                                            </div>
                                            <div class="col-md-12 colright-center mobile-ver">
                                                <p class="pri-title text-uppercase text-center">Informations sur les allergènes</p>
                                                <ul class="list-unstyled">
                                                    {% for allergen in salade.allergens.all %}
                                                        <li>{{ allergen.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>

                            {% if salade.allergens.all.count != 0 %}
                                <!--TAB 02-->
                                <div role="tabpanel" class="tab-pane fade tab hidden-xs tab-2" id="informationSalade{{ salade.id }}">
                                    <div class="tabpanel-inner">
                                        <div class="col-md-12 colright-center">
                                            <div class="inner">
                                                <p class="pri-title text-uppercase text-center">Informations sur les allergènes</p>
                                                <ul class="list-allergens">
                                                    {% for allergen in salade.allergens.all %}
                                                        <li>{{ allergen.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        <div class="hidden-md hidden-lg image-prod-sm">
                            <img src="{{ salade.image_details.url }}" alt="">
                        </div>
                    </div>
                </div>
                <a class="hidden-xs productDetail_close" slug="salade{{ salade.id }}">
                    <img src="{% static 'img/details/btn-close.png' %}" class="close-detail" alt="">
                </a>
            </div>
        </section>

    {% endfor %}
     <!-- **********  End Salades Popups  ************** -->

    <!-- **********  Start Sauces Popups  ************** -->
    {% for sauce in sauces %}

        <section class="product-detail detail-funbox" name="sauce{{ sauce.id }}">
            <div class="container-fluid">
                <div class="row row-detail">
                    <div class="col-md-6 hidden-sm no-padding colleft" style="background: url({{ sauce.image_details.url }}) center center / cover no-repeat rgb(0, 0, 0); left: 0%;">
                        <img src="{% static 'img/logo_white.png' %}" class="colleft-logo" alt="">
                        <div class="row visible-xs">
                            <div class="col-md-12 no-padding return">
                                <a class="text-uppercase close_product_detail">
                                    <img class="locations_close btn-close js-menuleft-close" src="{% static 'img/btn-close-signup.svg' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 colright colright123213" style="height: auto; right: 0%;">
                        <div class="hidden-md hidden-lg" style="height: 200px"></div>
                        <div class="colright-content-fix">
                            <div class="row product-detail-title">
                                <div class="inner">
                                    <p class="text-center text-uppercase category"><span>SAUCES</span></p>
                                    <p class="text-center title">{{ sauce.name }}</p>
                                </div>
                            </div>

                            <div class="row tab-menu">
                                <ul class="col-md-12 colright-1 nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#productSauce{{ sauce.id}}" aria-controls="product" role="tab" data-toggle="tab" aria-expanded="true">
                                            Produit
                                        </a>
                                    </li>
                                    {% if sauce.allergens.all.count != 0 %}
                                        <li role="presentation" class="">
                                            <a href="#informationSauce{{ sauce.id }}" aria-controls="information" role="tab" data-toggle="tab" aria-expanded="false">
                                                Allergies
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="row tab-content tab-pane-product">

                            <!--TAB 01-->
                            <div role="tabpanel" class="tab-pane fade tab tab-1 active pane-product-detail ctn-right-product-detail in" id="productSauce{{ sauce.id }}">
                                <div class="tabpanel-inner">

                                    <div class="col-md-12 colright-center colright-productdetailcontent-group">
                                        <div class="inner">

                                            <div class="text-center colright-center_description un_scrolling ">
                                                <p>{{ sauce.description }}</p>
                                                {% if sauce.price != null %}
                                                    <p class="product-price">{{ sauce.price }}0 €</p>
                                                {% endif %}
                                                <p class="product-command">
                                                    <a href="https://www.takeaway.com/be/queen-burger" target="_blank">Commander</a>
                                                </p>
                                            </div>
                                        </div>
                                        {% if sauce.allergens.all.count != 0 %}
                                            <div class="col-md-12 visible-xs select-arrow" onclick="clsProductsDetails.viewmore();">
                                                <p class="select-detail">Allergies</p>
                                            </div>
                                            <div class="col-md-12 colright-center mobile-ver">
                                                <p class="pri-title text-uppercase text-center">Informations sur les allergènes</p>
                                                <ul class="list-unstyled">
                                                    {% for allergen in sauce.allergens.all %}
                                                        <li>{{ allergen.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>

                            {% if sauce.allergens.all.count != 0 %}
                                <!--TAB 02-->
                                <div role="tabpanel" class="tab-pane fade tab hidden-xs tab-2" id="informationSauce{{ sauce.id }}">
                                    <div class="tabpanel-inner">
                                        <div class="col-md-12 colright-center">
                                            <div class="inner">
                                                <p class="pri-title text-uppercase text-center">Informations sur les allergènes</p>
                                                <ul class="list-allergens">
                                                    {% for allergen in sauce.allergens.all %}
                                                        <li>{{ allergen.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>

                        <div class="hidden-md hidden-lg image-prod-sm">
                            <img src="{{ sauce.image_details.url }}" alt="">
                        </div>
                    </div>
                </div>
                <a class="hidden-xs productDetail_close" slug="sauce{{ sauce.id }}">
                    <img src="{% static 'img/details/btn-close.png' %}" class="close-detail" alt="">
                </a>
            </div>
        </section>

    {% endfor %}
     <!-- **********  End Sauces Popups  ************** -->

    <!-- **********  Start Desert Popups  ************** -->
    {% for dessert in desserts %}

        <section class="product-detail detail-funbox" name="dessert{{ dessert.id }}">
            <div class="container-fluid">
                <div class="row row-detail">
                    <div class="col-md-6 hidden-sm no-padding colleft" style="background: url({{ dessert.image_details.url }}) center center / cover no-repeat rgb(0, 0, 0); left: 0%;">
                        <img src="{% static 'img/logo_white.png' %}" class="colleft-logo" alt="">
                        <div class="row visible-xs">
                            <div class="col-md-12 no-padding return">
                                <a class="text-uppercase close_product_detail">
                                    <img class="locations_close btn-close js-menuleft-close" src="{% static 'img/btn-close-signup.svg' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 colright colright123213" style="height: auto; right: 0%;">
                        <div class="hidden-md hidden-lg" style="height: 200px"></div>
                        <div class="colright-content-fix">
                            <div class="row product-detail-title">
                                <div class="inner">
                                    <p class="text-center text-uppercase category"><span>DESSERT</span></p>
                                    <p class="text-center title">{{ dessert.name }}</p>
                                </div>
                            </div>

                            <div class="row tab-menu">
                                <ul class="col-md-12 colright-1 nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#productDessert{{ dessert.id}}" aria-controls="product" role="tab" data-toggle="tab" aria-expanded="true">
                                            Produit
                                        </a>
                                    </li>
                                    {% if dessert.allergens.all.count != 0 %}
                                        <li role="presentation" class="">
                                            <a href="#informationDessert{{ dessert.id }}" aria-controls="information" role="tab" data-toggle="tab" aria-expanded="false">
                                                Allergies
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="row tab-content tab-pane-product">

                            <!--TAB 01-->
                            <div role="tabpanel" class="tab-pane fade tab tab-1 active pane-product-detail ctn-right-product-detail in" id="productDessert{{ dessert.id }}">
                                <div class="tabpanel-inner">

                                    <div class="col-md-12 colright-center colright-productdetailcontent-group">
                                        <div class="inner">

                                            <div class="text-center colright-center_description un_scrolling ">
                                                <p>{{ dessert.description }}</p>
                                                {% if dessert.price != null %}
                                                    <p class="product-price">{{ dessert.price }}0 €</p>
                                                {% endif %}
                                                <p class="product-command">
                                                    <a href="https://www.takeaway.com/be/queen-burger" target="_blank">Commander</a>
                                                </p>
                                            </div>
                                        </div>
                                        {% if dessert.allergens.all.count != 0 %}
                                            <div class="col-md-12 visible-xs select-arrow" onclick="clsProductsDetails.viewmore();">
                                                <p class="select-detail">Allergies</p>
                                            </div>
                                            <div class="col-md-12 colright-center mobile-ver">
                                                <p class="pri-title text-uppercase text-center">Informations sur les allergènes</p>
                                                <ul class="list-unstyled">
                                                    {% for allergen in dessert.allergens.all %}
                                                        <li>{{ allergen.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>

                            {% if dessert.allergens.all.count != 0 %}
                                <!--TAB 02-->
                                <div role="tabpanel" class="tab-pane fade tab hidden-xs tab-2" id="informationDessert{{ dessert.id }}">
                                    <div class="tabpanel-inner">
                                        <div class="col-md-12 colright-center">
                                            <div class="inner">
                                                <p class="pri-title text-uppercase text-center">Informations sur les allergènes</p>
                                                <ul class="list-allergens">
                                                    {% for allergen in dessert.allergens.all %}
                                                        <li>{{ allergen.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>

                        <div class="hidden-md hidden-lg image-prod-sm">
                            <img src="{{ dessert.image_details.url }}" alt="">
                        </div>

                    </div>
                </div>
                <a class="hidden-xs productDetail_close" slug="dessert{{ dessert.id }}">
                    <img src="{% static 'img/details/btn-close.png' %}" class="close-detail" alt="">
                </a>
            </div>
        </section>

    {% endfor %}
     <!-- **********  End Dessert Popups  ************** -->

    <!-- **********  Start Drink Popups  ************** -->
    {% for drink in drinks %}

        <section class="product-detail detail-funbox" name="drink{{ drink.id }}">
            <div class="container-fluid">
                <div class="row row-detail">
                    <div class="col-md-6 hidden-sm no-padding colleft" style="background: url({{ drink.image_details.url }}) center center / cover no-repeat rgb(0, 0, 0); left: 0%;">
                        <img src="{% static 'img/logo_white.png' %}" class="colleft-logo" alt="">
                        <div class="row visible-xs">
                            <div class="col-md-12 no-padding return">
                                <a class="text-uppercase close_product_detail">
                                    <img class="locations_close btn-close js-menuleft-close" src="{% static 'img/btn-close-signup.svg' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 colright colright123213" style="height: auto; right: 0%;">
                        <div class="hidden-md hidden-lg" style="height: 200px"></div>
                        <div class="colright-content-fix">
                            <div class="row product-detail-title">
                                <div class="inner">
                                    <p class="text-center text-uppercase category"><span>Boisson</span></p>
                                    <p class="text-center title">{{ drink.name }}</p>
                                </div>
                            </div>

                            <div class="row tab-menu">
                                <ul class="col-md-12 colright-1 nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#productDrink{{ drink.id}}" aria-controls="product" role="tab" data-toggle="tab" aria-expanded="true">
                                            Produit
                                        </a>
                                    </li>
                                    {% if dessert.allergens.all.count != 0 %}
                                        <li role="presentation" class="">
                                            <a href="#informationDrink{{ drink.id }}" aria-controls="information" role="tab" data-toggle="tab" aria-expanded="false">
                                                Infos nutritionnelles & Valeurs nutritionnelles
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="row tab-content tab-pane-product">

                            <!--TAB 01-->
                            <div role="tabpanel" class="tab-pane fade tab tab-1 active pane-product-detail ctn-right-product-detail in" id="productDrink{{ drink.id }}">
                                <div class="tabpanel-inner">

                                    <div class="col-md-12 colright-center colright-productdetailcontent-group">
                                        <div class="inner">

                                            <div class="text-center colright-center_description un_scrolling ">
                                                <p>{{ drink.description }}</p>
                                                {% if drink.price != null %}
                                                    <p class="product-price">{{ drink.price }}0 €</p>
                                                {% endif %}
                                                <p class="product-command">
                                                    <a href="https://www.takeaway.com/be/queen-burger" target="_blank">Commander</a>
                                                </p>
                                            </div>
                                        </div>
                                        {% if drink.allergens.all.count != 0 %}
                                            <div class="col-md-12 visible-xs select-arrow" onclick="clsProductsDetails.viewmore();">
                                                <p class="select-detail">Allergies</p>
                                            </div>
                                            <div class="col-md-12 colright-center mobile-ver">
                                                <p class="pri-title text-uppercase text-center">Informations sur les allergènes</p>
                                                <ul class="list-unstyled">
                                                    {% for allergen in drink.allergens.all %}
                                                        <li>{{ allergen.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>


                                <!--TAB 02-->
                                <div role="tabpanel" class="tab-pane fade tab hidden-xs tab-2" id="informationDrink{{ drink.id }}">
                                    <div class="tabpanel-inner">
                                        <div class="col-md-12 colright-center">
                                            <div class="inner">
                                                {% if drink.nutritional_info != None and drink.nutritional_info != '' %}
                                                    <p class="pri-title text-uppercase text-center">INFOS NUTRITIONNELLES</p>
                                                    <p class="text-center info-desc">{{ drink.nutritional_info }}</p>
                                                {% endif %}

                                                {% if drink.allergens.all.count != 0 %}
                                                    <p class="pri-title text-uppercase text-center">Informations sur les allergènes</p>
                                                    <ul class="list-allergens">
                                                        {% for allergen in dessert.allergens.all %}
                                                            <li>{{ allergen.title }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}

                                                {% if drink.additions.all.count != 0 %}
                                                    <p class="pri-title text-uppercase text-center">Ajouts</p>
                                                    <ul class="list-allergens" style="padding-top: 0">
                                                        {% for addition in drink.additions.all %}
                                                            <li>{{ addition.title }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                        </div>

                        <div class="hidden-md hidden-lg image-prod-sm">
                            <img src="{{ drink.image_details.url }}" alt="">
                        </div>
                    </div>
                </div>
                <a class="hidden-xs productDetail_close" slug="drink{{ drink.id }}">
                    <img src="{% static 'img/details/btn-close.png' %}" class="close-detail" alt="">
                </a>
            </div>
        </section>

    {% endfor %}
     <!-- **********  End Drink Popups  ************** -->

    <!-- **********  Start Menu Popups  ************** -->
    {% for menu in menus %}

        <section class="product-detail detail-funbox" name="menu{{ menu.id }}">
            <div class="container-fluid">
                <div class="row row-detail">
                    <div class="col-md-6 hidden-sm no-padding colleft" style="background: url({{ menu.image_details.url }}) center center / cover no-repeat rgb(0, 0, 0); left: 0%;">
                        <img src="{% static 'img/logo_white.png' %}" class="colleft-logo" alt="">
                        <div class="row visible-xs">
                            <div class="col-md-12 no-padding return">
                                <a class="text-uppercase close_product_detail">
                                    <img class="locations_close btn-close js-menuleft-close" src="{% static 'img/btn-close-signup.svg' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 colright colright123213" style="height: auto; right: 0%;">
                        <div class="hidden-md hidden-lg" style="height: 100px"></div>
                        <div class="colright-content-fix">
                            <div class="row product-detail-title">
                                <div class="inner">
                                    <p class="text-center text-uppercase category"><span>Menu</span></p>
                                    <p class="text-center title">{{ menu.name }}</p>
                                </div>
                            </div>

                            <div class="row tab-menu">
                                <ul class="col-md-12 colright-1 nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#productmenu{{ menu.id}}" aria-controls="product" role="tab" data-toggle="tab" aria-expanded="true">
                                            Produit
                                        </a>
                                    </li>
                                    {% if menu.allergens.all.count != 0 %}
                                        <li role="presentation" class="">
                                            <a href="#informationmenu{{ menu.id }}" aria-controls="information" role="tab" data-toggle="tab" aria-expanded="false">
                                                Infos nutritionnelles & Valeurs nutritionnelles
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="row tab-content tab-pane-product">

                            <!--TAB 01-->
                            <div role="tabpanel" class="tab-pane fade tab tab-1 active pane-product-detail ctn-right-product-detail in" id="productmenu{{ drink.id }}">
                                <div class="tabpanel-inner">

                                    <div class="col-md-12 colright-center colright-productdetailcontent-group">
                                        <div class="inner">

                                            <div class="text-center colright-center_description un_scrolling ">
                                                <p>{{ menu.description }}</p>

                                                {% if menu.choices.count > 0 %}
                                                    <p class="bold text-center hidden-xs text-uppercase" style="font-size: 16px; color: #fff; margin-bottom: 10px;">
                                                        Au choix
                                                    </p>
                                                    <ul>
                                                        {% for choice in menu.choices.all %}
                                                            <li>{{ choice }}</li>
                                                        {% endfor %}

                                                    </ul>
                                                {% endif %}

                                                <p class="bold text-center hidden-xs" style="font-size: 16px;margin-bottom: 14px; margin-top: 30px">
                                                    Tu peux profiter de ce burger en
                                                </p>
                                                <div class="colright-center_menu">
                                                    <div class="medium dj-product-price" data-price="{{ menu.price }}0 €" data-product="price-menu-{{ menu.id }}">
                                                        <img src="{% static 'img/details/icon-detail-maxi.png' %}" style="width: 70px; margin-top: 15px;" class="center-block img-detail-menu mCS_img_loaded" alt="">

                                                        <a class="text-center" style="pointer-events: none;">Medium menu</a>
                                                    </div>
                                                    <div class="maxi dj-product-price"  data-price="{{ menu.maxi_price }}0 €" data-product="price-menu-{{ menu.id }}">
                                                        <img src="{% static 'img/details/icon-detail-medium.png' %}" style="width: 70px; margin-top: 15px;" class="center-block img-detail-menu mCS_img_loaded" alt="">
                                                        <a class="text-center" style="pointer-events: none;">Large menu</a>
                                                    </div>
                                                </div>
                                                {% if menu.price != null %}
                                                    <p class="product-price" id="price-menu-{{ menu.id }}" style="margin-top: 30px; margin-bottom: 0;">{{ menu.price }}0 €</p>
                                                {% endif %}
                                                <p class="product-command" style="margin-top: 30px !important; margin-bottom: 50px;">
                                                    <a href="https://www.takeaway.com/be/queen-burger" target="_blank">Commander</a>
                                                </p>
                                            </div>
                                        </div>
                                        {% if drink.allergens.all.count != 0 %}
                                            <div class="col-md-12 visible-xs select-arrow" onclick="clsProductsDetails.viewmore();">
                                                <p class="select-detail">Allergies</p>
                                            </div>
                                            <div class="col-md-12 colright-center mobile-ver">
                                                <p class="pri-title text-uppercase text-center">Informations sur les allergènes</p>
                                                <ul class="list-unstyled">
                                                    {% for allergen in menu.allergens.all %}
                                                        <li>{{ allergen.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>

                                <!--TAB 02-->
                                <div role="tabpanel" class="tab-pane fade tab hidden-xs tab-2" id="informationmenu{{ drink.id }}">
                                    <div class="tabpanel-inner">
                                        <div class="col-md-12 colright-center">
                                            <div class="inner">
                                                {% if menu.nutritional_info != None and menu.nutritional_info != '' %}
                                                    <p class="pri-title text-uppercase text-center">INFOS NUTRITIONNELLES</p>
                                                    <p class="text-center info-desc">{{ menu.nutritional_info }}</p>
                                                {% endif %}

                                                {% if menu.allergens.all.count != 0 %}
                                                    <p class="pri-title text-uppercase text-center">Informations sur les allergènes</p>
                                                    <ul class="list-allergens">
                                                        {% for allergen in menu.allergens.all %}
                                                            <li>{{ allergen.title }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                        </div>

                        <div class="hidden-md hidden-lg image-prod-sm">
                            <img src="{{ menu.image_details.url }}" alt="">
                        </div>

                    </div>
                </div>
                <a class="hidden-xs productDetail_close" slug="menu{{ menu.id }}">
                    <img src="{% static 'img/details/btn-close.png' %}" class="close-detail" alt="">
                </a>
            </div>
        </section>

    {% endfor %}
     <!-- **********  End Menus Popups  ************** -->

{% endblock %}


{% block content %}
    <div class="group-containers">
        <div class="overplaybg_no-restaurant"></div>

        <div id="products_container" class="extra-spacing-0">
            <div class="page-main-subtitle">
                <h2>Produits</h2>
            </div>
            <section class="products products-category products-onecategory burgers processslider processpercent"
                id="burgers" page="products_container" subpage="burgers">
                <div class="container container-title ">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Burgers</h2>
                        </div>
                    </div>
                </div>
                <div class="container container-product">
                    <div class="products-detail-full"></div>
                    <div class="products-list" id="part-category-products-9">
                        {% for burger in burgers %}

                            <div class="slide col-sm-6 col-md-4 text-center">
                                <div class="product-box">
                                    <a class="linkblank productDetail_open" slug="burger{{ burger.id }}"></a>
                                    <div class="product-img">
                                        <img src="{{ burger.image.url }}">
                                    </div>

                                    <h3>{{ burger.name }}</h3>

                                    <div class="text-muted">
                                        <p>{{ burger.description|truncatewords:21 }}</p>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </section>
            <div class="btn-plus" group="burgers" slider_categoryProducts_Slug="burgers"><a></a></div>
            <section class="products products-category products-onecategory fingerfood processslider processpercent"
                id="fingerfood" page="products_container" subpage="fingerfood">
                <div class="container container-title ">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Fingerfood</h2>
                        </div>
                    </div>
                </div>
                <div class="container container-product">
                    <div class="products-detail-full"></div>
                    <div class="products-list" id="part-category-products-15">
                        {% for finger in fingers %}

                            <div class="slide col-sm-6 col-md-4 text-center">
                                <div class="product-box">
                                    <a class="linkblank productDetail_open" slug="finger{{ finger.id }}"></a>
                                    <div class="product-img">
                                        <img src="{{ finger.image.url }}">
                                    </div>

                                    <h3>{{ finger.name }}</h3>

                                    <div class="text-muted">
                                        <p>{{ finger.description|truncatewords:21 }}</p>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </section>
            <div class="btn-plus" group="fingerfood" slider_categoryProducts_Slug="fingerfood"><a></a></div>
            <!--OTHER PRODUCTS-->


            <div class="page-main-subtitle">
                <h2>Menus</h2>
            </div>
            <section class="products products-category products-onecategory burgers processslider processpercent"
                id="menus" page="products_container" subpage="burgers">
                <div class="container container-product">
                    <div class="products-detail-full"></div>
                    <div class="products-list" id="part-category-products-0">
                        {% for menu in menus %}
                            {% if not menu.child_menu %}
                                <div class="slide col-sm-6 col-md-4 text-center">
                                    <div class="product-box">
                                        <a class="linkblank productDetail_open" slug="menu{{ menu.id }}"></a>
                                        <div class="product-img">
                                            <img src="{{ menu.image.url }}">
                                        </div>

                                        <h3>{{ menu.name }}</h3>

                                        <div class="text-muted">
                                            <p>{{ menu.description|truncatewords:21 }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}

                    </div>
                </div>
            </section>
            <div class="btn-plus" group="menus" slider_categoryProducts_Slug="menus"><a></a></div>


            <section class="products products-other products-twocategory products-category"
                id="group-accompagnements">
                <div class="container">
                    <div class="col-sm-6 processpercent" page="products_container"
                        subpage="accompagnements" id="salades" parentID="#group-accompagnements">
                        <h2 class="section-heading">Kids menu</h2>
                        <div class="products-detail-full"></div>
                        <div class="products-list processsliderother" id="productslist-sauces">
                            {% for menu in menus %}
                                {% if menu.child_menu %}
                                    <div class="slide text-center">
                                        <div class="product-box">
                                            <a class="linkblank productDetail_open" slug="menu{{ menu.id }}"></a>
                                            <div class="product-img">
                                                <img src="{{ menu.image.url }}">
                                            </div>

                                            <h3>{{ menu.name }}</h3>

                                            <div class="text-muted">
                                                <p>{{ menu.description|truncatewords:21 }}</p>
                                                <p><br /></p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-6 borderleft processpercent" page="products_container" subpage="accompagnements"
                        id="accompagnements" parentID="#group-accompagnements">
                        <h2 class="section-heading">Salades</h2>
                        <div class="products-detail-full"></div>
                        <div class="products-list processsliderother" id="productslist-salades">
                            {% for salade in salades %}

                                <div class="slide text-center">
                                    <div class="product-box">
                                        <a class="linkblank productDetail_open" slug="salade{{ salade.id }}"></a>
                                        <div class="product-img">
                                            <img src="{{ salade.image.url }}">
                                        </div>

                                        <h3>{{ salade.name }}</h3>

                                        <div class="text-muted">
                                            <p>{{ salade.description|truncatewords:21 }}</p>
                                            <p><br /></p>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>

                </div>
            </section>
            <section class="products products-category products-onecategory desserten processslider processpercent"
                id="desserten" page="products_container" subpage="desserten">
                <div class="container container-title ">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Desserts</h2>
                        </div>
                    </div>
                </div>
                <div class="container container-product">
                    <div class="products-detail-full"></div>
                    <div class="products-list" id="part-category-products-11">
                        {% for dessert in desserts %}

                            <div class="slide col-sm-6 col-md-4 text-center">
                                <div class="product-box">
                                    <a class="linkblank productDetail_open" slug="dessert{{ dessert.id }}"></a>
                                    <div class="product-img">
                                        <img src="{{ dessert.image.url }}">
                                    </div>

                                    <h3>{{ dessert.name }}</h3>

                                    <div class="text-muted">
                                        <p>{{ dessert.description|truncatewords:21 }}</p>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </section>
            <div class="btn-plus" group="desserten" slider_categoryProducts_Slug="desserten"><a></a></div>
            <section class="products products-category products-onecategory dranken processslider processpercent"
                id="anasstn" page="products_container" subpage="anasstn">
                <div class="container container-title ">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Boissons</h2>
                        </div>
                    </div>
                </div>
                <div class="container container-product">
                    <div class="products-detail-full"></div>
                    <div class="products-list" id="part-category-products-10"  category_id="10">
                        {% for drink in drinks %}
                            <div class="slide col-sm-6 col-md-4 text-center">
                                <div class="product-box">
                                    <a class="linkblank productDetail_open" slug="drink{{ drink.id }}"></a>
                                    <div class="product-img">
                                        <img src="{{ drink.image.url }}" style="width: unset">
                                    </div>

                                    <h3>{{ drink.name }}</h3>

                                    <div class="text-muted">
                                        <p>{{ drink.description|truncatewords:21 }}</p>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </section>
            <div class="btn-plus" group="anasstn" slider_categoryProducts_Slug="anasstn"><a></a></div>
            <section class="products products-category products-onecategory sauzen processslider processpercent"
                id="sauzen" page="products_container" subpage="sauzen">
                <div class="container container-title ">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Sauces</h2>
                        </div>
                    </div>
                </div>
                <div class="container container-product">
                    <div class="products-detail-full"></div>
                    <div class="products-list" id="part-category-products-13" category_id="13">
                        {% for sauce in sauces %}

                            <div class="slide col-sm-6 col-md-4 text-center">
                                <div class="product-box">
                                    <a class="linkblank productDetail_open" slug="sauce{{ sauce.id }}"></a>
                                    <div class="product-img">
                                        <img src="{{ sauce.image.url }}">
                                    </div>

                                    <h3>{{ sauce.name }}</h3>

                                    <div class="text-muted">
                                        <p>{{ sauce.description|truncatewords:21 }}</p>
                                        <p><br /></p>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </section>
            <div class="btn-plus" group="sauzen" slider_categoryProducts_Slug="sauzen"><a></a></div>

        </div>


        {% if promos.count > 0 %}

        <div id="promos_container">
            <section class="products promos processpercent  nopromo" id="promos" page="promos" percent="72">
                <div class="page-main-subtitle">
                    <h2>Promos</h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center show-desktop">
                            <h2 class="section-heading text-uppercase">

                            </h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="products-detail-full products-detail-promofull"></div>
                    <div class="products-list promos-list  processsliderother slick-initialized slick-slider" number_xs="1" number_sm="2" time="6000">
                        <div aria-live="polite" class="slick-list draggable">
                            <div class="slick-track" style="opacity: 1;  transform: translate3d(0px, 0px, 0px);" role="listbox">
                                {% for promo in promos %}

                                    <div class="slide {% if promos.count == 1 %} col-sm-12 {% else %} col-sm-6 {% endif %}  slide-promo text-center slick-slide slick-active" tabindex="-1" role="option" aria-describedby="slick-slide{{ promo.id }}" data-slick-index="{{ forloop.counter }}" aria-hidden="false">
                                        <div class="product-box static">
                                            <div class="product-group-image product-img" style="max-width: 500px">
                                                <img src="{{ promo.image.url }}">
                                                <img class="imgmain" src="{{ promo.image.url }}">
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="btn-plus container"></div>
        </div>

        {% endif %}

        {% if promos.count > 0 %}

        <div id="promos_container">
            <section class="products promos processpercent  nopromo" id="videos" page="promos" percent="72">
                <div class="page-main-subtitle">
                    <h2>Videos</h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center show-desktop">
                            <h2 class="section-heading text-uppercase">
                                Retrouvez les dernières videos ajoutées
                                <br> sur notre
                                <span restaurant_title="" >
                                    <a style="color: #aaa; font-weight: 600;" href="https://www.youtube.com/channel/UCzsfVOf-7r_DwUQhHvqKaOA">
                                        chaine Youtube</a>
                                </span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="owl-carousel owl-theme">
                        {% for video in videos %}
                            <div class="item-video" data-merge="2"><a class="owl-video" href="{{ video.link }}"></a></div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <div class="btn-plus container"></div>
        </div>
        {% endif %}


        <div id="map_container">
            <div class="container">
                <section class="open-now">
                    <div class="page-main-subtitle subtitle-info">
                        <h2 favoriterestaurant="69" class="text-uppercase text-icon ">INFO &amp; CONTACT</h2>
                    </div>
                </section>

                <section class="maps processpercent" id="" page="" style="margin-bottom: 50px">
                    <div id="" class="img-responsive maps-img" style="position: relative; overflow: hidden; height: 450px; min-width: 350px; margin-top: 1px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5037.253374687313!2d4.3404962!3d50.8565969!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c3113ce2757f%3A0x1a3059cf43b6a2c0!2sQueen+Burger!5e0!3m2!1sfr!2sma!4v1555286936437!5m2!1sfr!2sma" width="640" height="455" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="panel panel--col_2" id="map_panel">
                        <div class="col-sm-12 col-xs-12 panel--opening">
                            <div class="row border-bottom">
                                <div class="panel--opening__title">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xs-4"></div>
                                            <div class="col-xs-4">
                                                <h4>Restaurant</h4>
                                            </div>
                                            <div class="col-xs-4">
                                                <h4>Livraison</h4>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 panel--opening--row">
                                    <div class="row">
                                        <div class="col-xs-4 panel--opening--row__name">
                                            <p>Lundi</p>
                                        </div>
                                        <div class="res  col-xs-4 panel--opening--row__hours moon">
                                            <p><span class="night_moon ">12:00-22:00</span> </p>
                                        </div>

                                        <div class="dri   col-xs-4 panel--opening--row__hours">
                                            <p><i class="fa fa-motorcycle" aria-hidden="true"></i> 12:00-21:30 </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 panel--opening--row">
                                    <div class="row">
                                        <div class="col-xs-4 panel--opening--row__name">
                                            <p>Mardi</p>
                                        </div>
                                        <div class="res  col-xs-4 panel--opening--row__hours moon">
                                            <p><span class="night_moon ">12:00-22:00</span> </p>
                                        </div>

                                        <div class="dri   col-xs-4 panel--opening--row__hours">
                                            <p><i class="fa fa-motorcycle" aria-hidden="true"></i> 12:00-21:30 </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 panel--opening--row">
                                    <div class="row">
                                        <div class="col-xs-4 panel--opening--row__name">
                                            <p>Mercredi</p>
                                        </div>
                                        <div class="res  col-xs-4 panel--opening--row__hours moon">
                                            <p><span class="night_moon ">12:00-22:00</span> </p>
                                        </div>

                                        <div class="dri   col-xs-4 panel--opening--row__hours">
                                            <p><i class="fa fa-motorcycle" aria-hidden="true"></i> 12:00-21:30 </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 panel--opening--row">
                                    <div class="row">
                                        <div class="col-xs-4 panel--opening--row__name">
                                            <p>Jeudi</p>
                                        </div>
                                        <div class="res  col-xs-4 panel--opening--row__hours moon">
                                            <p><span class="night_moon ">12:00-22:00</span> </p>
                                        </div>

                                        <div class="dri   col-xs-4 panel--opening--row__hours">
                                            <p><i class="fa fa-motorcycle" aria-hidden="true"></i> 12:00-21:30 </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 panel--opening--row">
                                    <div class="row">
                                        <div class="col-xs-4 panel--opening--row__name">
                                            <p>Vendredi</p>
                                        </div>
                                        <div class="res  col-xs-4 panel--opening--row__hours moon">
                                            <p><span class="night_moon ">12:00-22:00</span> </p>
                                        </div>

                                        <div class="dri   col-xs-4 panel--opening--row__hours">
                                            <p><i class="fa fa-motorcycle" aria-hidden="true"></i> 12:00-21:30 </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 panel--opening--row">
                                    <div class="row">
                                        <div class="col-xs-4 panel--opening--row__name">
                                            <p>Samedi</p>
                                        </div>
                                        <div class="res  col-xs-4 panel--opening--row__hours moon">
                                            <p><span class="night_moon ">12:00-22:00</span> </p>
                                        </div>

                                        <div class="dri   col-xs-4 panel--opening--row__hours">
                                            <p><i class="fa fa-motorcycle" aria-hidden="true"></i> 12:00-21:30 </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 panel--opening--row">
                                    <div class="row">
                                        <div class="col-xs-4 panel--opening--row__name">
                                            <p>Dimanche</p>
                                        </div>
                                        <div class="res  col-xs-4 panel--opening--row__hours moon">
                                            <p><i class="fa fa-clock"></i>12:00-22:00</span> </p>
                                        </div>

                                        <div class="dri   col-xs-4 panel--opening--row__hours">
                                            <p><i class="fa fa-motorcycle" aria-hidden="true"></i> 12:00-21:30 </p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 panel--infos">
                            <div class="row">
                                <div class="panel--infos--address">
                                    <p class="dj-address">
                                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                        Parvis Saint jean Baptiste 3 Région de Bruxelles-Capitale <br>
                                    </p>
                                    <p class="dj-address">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        Appeler <a style="color: #aaa; margin-left: 8px;" href="tel:+3224798480">+32 2 479 84 80</a>
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
    <div id="services_container"></div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            console.log("anass");
            setInterval(
                function () {
                    var elt = $("ul.change_slider li.active").next();
                    if (elt.length > 0) {
                        elt.click();
                    } else {
                        $("ul.change_slider li:first-child").click();
                    }
                }, 5000);
        });

        $('.dj-product-price').click(function(){
            $("#" + $(this).data('product')).text($(this).data('price'));
        });

        $('.owl-carousel').owlCarousel({
            items:1,
            merge:true,
            loop:true,
            margin:10,
            video:true,
            lazyLoad:true,
            center:true,
            responsive:{
                480:{
                    items:2
                },
                600:{
                    items:4
                }
            }
        })

    </script>

{% endblock %}