.header-content-top ul li.appbtn.ico-myquick a {
    background: none;
    border: 1px solid #fff;
}

.header-content-top ul li.appbtn.ico-myquick a>img {
    padding: 3px;
}

.popup-locations .colleft .colleft-header-logo a>img{
    float: left;
    margin-top: 10px;
}

.popup-locations .colleft .colleft-header-logo a>span{
    padding-top: 53px;
    padding-left: 8px;
    display: inline-block;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
}

.popup-locations-language-menu #menu-maps>ul>li:first-child {
    margin-bottom: 15px;
}

.product-command{
    margin-top: 40px !important;
}

.product-command>a{
    margin-top: 30px;
    font-size: 15px !important;
    color: #000 !important;
    background: #fbc600;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.product-price{
    color: #fff !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.product-detail .row-detail .colright .tab-1 .colright-center_description p{
    font-size: 20px;
}

.list-allergens {
    padding: 20px 0;
    list-style: inside;
}

.list-allergens li {
    font-size: 17px;
    padding: 2px;
}

.btn.red {
    color: #000;
}

.product-detail .row-detail .colleft-logo {
    top: 10px;
}

.maps .panel {
    background: #000;
    width: -webkit-fill-available;
    height: auto;
    position: relative;
    padding: 25px 0 20px 30px;
    margin: 0;
    max-width: 500px;
    border-radius: 0;
    height: 452px;
}

.maps-img {
    width: calc(100% - 500px);
}

.maps .panel--opening {
    border: 0
}

section.maps.processpercent i.fa.fa-motorcycle {
    margin-left: -26px;
    margin-right: 5px;
}

.maps .panel--opening p {
    color: #999;
}

.maps .panel--infos--address .dj-address{
    float: none;
    padding-left: 20px;
    position: relative;
    margin-top: 15px;
}

.maps .panel--infos--address .dj-address i{
    position: absolute;
    left: -9px;
    top: 3px;
}

div#map_panel {
    padding-top: 70px;
}