body {
    padding: 0;
    margin: 0;
    border: 0;
    background: #1e1e1e;
}

.popup, #contain_route_infomation {
    visibility: hidden;
}

header .header-content-logo {
    position: fixed;
    top: 0;
    left: 50px;
    height: 155px;
    width: auto;
    z-index: 2;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

header .header-content-logo a {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999999
}

header .header-content-logo.smaller {
    height: 111px;
    min-height: 111px;
    width: 5vw
}

header .header-content-logo .logo-icon {
    height: 100%;
    position: relative
}

header .header-content-logo img {
    height: 100%
}

header .header-content-logo .logo-text {
    position: absolute;
    top: 0;
    left: 0
}

header .header-content-logo .logo-notext {
    opacity: 0
}

header .header-content-logo.single .logo-text {
    opacity: 0
}

header .header-content-logo.single .logo-notext {
    opacity: 1
}

header .header-content-inner {
    width: 100%;
    position: relative;
    z-index: 1
}

header .header-content-inner img {
    width: 100%
}

header .cookie {
    position: absolute;
    top: 0;
    width: 100%;
    background: #000;
    z-index: 1;
    padding-left: 135px;
    display: none
}

header .cookie p {
    color: #fff;
    margin: 0;
    padding: 20px 90px 20px 0
}

header .cookie .icon-close {
    position: absolute;
    right: 15px;
    top: 18px;
    cursor: pointer
}

.Desktop #header_container header .header-content-logo {
    z-index: 9999999
}

.Desktop #header_container header .header-content-logo.single .logo-notext {
    position: relative;
    z-index: 99999999
}

.Desktop #header_container section.nav-menu {
    z-index: 3
}

header .header-content-logo.single img {
    pointer-events: none
}

.smartbanner, section.nav-menu, .group-containers, .group-popups, .paging, .banner-inner, footer, .banners-slider>li {
    display: none;
}

.banners-slider {
    list-style: none;
}

.banners-slider>li {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banners-slider>li:nth-of-type(2) {
    z-index: 9999;
    display: block;
}

.banners-slider li>div {
    width: 100%;
    height: 100%;
}

.banners-slider .banner .banner-landscape, .banners-slider .banner .banner-portrait {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

mark {
    background: orange !important;
    ;
    color: black !important;
    ;
    padding: 0 !important;
}

.overplaybg_no-restaurant {
    display: none !important;
}

@media (max-width: 992px) {
    .locations-colleft-content {
        margin-top: 160px;
    }
}