
.owl-carousel .item-video{
    height:400px;
}

.owl-carousel .owl-video-tn {
  background-size: cover;
  padding-bottom: 56.25%;
	padding-top: 25px;
}

.owl-video-frame {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.owl-video-frame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.other-video {
    padding-top: 0;
}

.other-video .col-md-8 .article .article-img img {
    height: 202px;
}

.other-video .col-md-8 .article .article-img .article-info {
    position: absolute;
    bottom: 40%;
    left: 42%;
    z-index: 22;
}

.other-video .col-md-8 .article .article-info .article-type {
    width: 60px;
    height: 60px;
    color: #FFF;
    font-size: 30px;
    border: 3px solid;
    padding: 12px 19px 15px 18px;
    border-radius: 50%;
    background: transparent;
}

.other-video .col-md-8 .article .article-info .article-type:hover {
    background: rgba(117, 117, 117, .7);
}

.other-video .col-md-8 .article .article-info .article-type .fa {
    color: #FFF;
}

.other-video .col-md-8 .article .article-meta li a {
    font-weight: bold;
}

.other-video .col-md-8 .article .article-meta li.pull-right {
    padding-top: 2px;
}


.owl-carousel .item-video {
    height: 360px;
}